<div class="row main">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-4 form-group">
                    <input type="text" placeholder="Name" class="form-control">
                </div>
                <div class="col-md-2 form-group">
                    <input type="number" placeholder="Amount" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <button class="btn btn-success">Add</button>
                    <button class="btn btn-danger">Delete</button>
                    <button class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>