<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">MyRecipes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav rightNav">
        <li class="nav-item" routerLinkActive="active">
          <p class="route-link" routerLink="/recipes">Recipes</p>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <p class="route-link" routerLink="/shopping">Shopping List</p>
        </li>

        <li class="nav-item input-container">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <span class="fas fa-search search-icon"></span>
        </li>
       
        <!-- <li class="nav-item cart-container">
          <p class="cart-number">1</p>
            <span class="fa-solid fa-cart-shopping"></span>
        </li> -->


        <li class="nav-item sign-in" routerLinkActive="active" *ngIf="!isLoggedIn">
          <p class="route-link" routerLink="/auth">Sign In</p>
        </li>
        <li class="nav-item profile-container" *ngIf="isLoggedIn">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <p class="route-link" (click)="onSignOut()">Sign Out</p>
        </li>
      </ul>
    </div>
  </nav>