<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">MyRecipes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav rightNav">
        <li class="nav-item" routerLinkActive="active">
          <p class="route-link" routerLink="/recipes">Recipes</p>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <p class="route-link" routerLink="/shopping">Shopping List</p>
        </li>

        <li class="nav-item input-container">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <span class="fas fa-search search-icon"></span>
        </li>
       
        <li class="nav-item cart-container">
          <p class="cart-number">1</p>
            <span class="fa-solid fa-cart-shopping"></span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Sign In</a>
            <a class="dropdown-item" href="#">Log In</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>