<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" href="#">MyRecipes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav rightNav">
        <li class="nav-item">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <span class="fas fa-search search-icon"></span>
        </li>
       
        <li class="nav-item">
            <span class="fas fa-cart-plus"></span>
            <div class="badge bg-danger">1</div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Sign In</a>
            <a class="dropdown-item" href="#">Log In</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>