<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img [src]="recipeDetail?.imagePath" alt="">
            <h2>{{recipeDetail?.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Manage Recipe</button>
            <ul class="dropdown-menu">
              <li (click)="addIngredientsToList()">Add Ingredients to List</li>
              <li [routerLink]="['/recipes','edit',this.recipeDetail?.id]">Edit Item</li>
              <li>Delete Item</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 list-group">
            <div class="list-group-item" *ngFor="let ingredient of recipeDetail?.ingredients">{{ingredient.name}} ({{ingredient.amount}})</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>{{recipeDetail?.description}}</p>
        </div>
    </div>
</div>