<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=999&q=80" alt="">
            <h2>Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <ul class="dropdown-menu">
              <li></li>
              <li>Edit Item</li>
              <li>Delete Item</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>description</p>
        </div>
    </div>
</div>