<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img [src]="recipeDetail?.imagePath" alt="">
            <h2>{{recipeDetail?.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <ul class="dropdown-menu">
              <li></li>
              <li>Edit Item</li>
              <li>Delete Item</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>{{recipeDetail?.description}}</p>
        </div>
    </div>
</div>