.container{
    margin: 5% 25%;
}

.col-md-4{
    border-right: 5px solid rgb(168, 153, 153);
    padding: 0px 40px 0px 10px;
}

h2{
    margin: 80px 60px;
   text-align: center;
   width: fit-content
}